
@mixin line2($j, $i ){
  transform-origin: -7.3rem 0rem;
  position: absolute;
  top: 50%;
  left: 15.3rem;
  width: $i;
  height: .1rem;
  background-color: $bl-items;
  transform: translateX(0%) translateY(-50%) rotate($j);
}

%backgroundFonClock{
  background: -webkit-linear-gradient(180deg, rgb(53, 96, 225), rgb(97, 155, 210));
  background: -moz-linear-gradient(180deg, rgb(53, 96, 225), rgb(97, 155, 210));
  background: linear-gradient(180deg, rgb(53, 96, 225), rgb(97, 155, 210));
}

.BlueCircle{
  background: -webkit-linear-gradient(45deg, rgb(37, 86, 231), rgb(97, 155, 210));
  background: -moz-linear-gradient(45deg, rgb(37, 86, 231), rgb(97, 155, 210));
  background: linear-gradient(45deg, rgb(37, 86, 231), rgb(97, 155, 210));
}


.BlueCircle__clock{
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  @extend %backgroundFonClock;
  width: 25rem;
  height: 25rem;
  border-radius: 1.5rem;
}


.BlueCircle__metrix{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 16rem;
  height: 16rem;
  &::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 91%;
    height: 91%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.255) 0px 30px 30px -12px inset, rgba(0, 0, 0, 0.567) 0px 18px 36px -18px inset;
  }
}
.BlueCircle__table{
  position: absolute;
  width: 11.2rem;
  height: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50% ) translateY(-50%);
  font-size: 2.5rem;
  color: $bl-items;
}
.buttonClock__start{
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
}
.buttonClock__start>div:nth-child(1){
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  border: .15rem solid $bl-items;
  transition: .5s;
}
.buttonClock__start>div:nth-child(2){
  position: absolute;
  width: 1rem;
  height: .1rem;
  top: .4rem;
  left: 37%;
  background-color: $bl-items;
  transition: .5s;
  animation: putButton2 .6s linear forwards;
}
.buttonClock__start>div:nth-child(3){
  position: absolute;
  width: .4rem;
  height: .1rem;
  top: 20%;
  left: 80%;
  transform: rotate(-45deg);
  background-color: $bl-items;
  transition: background-color .5s;
}
.buttonClock__start>div:nth-child(4){
  position: absolute;
  width: .5rem;
  height: .5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  border: .15rem solid $bl-items;
  transition: border .5s;
}
.buttonClock__start>div:nth-child(4)::before{
  content: "";
  position: absolute;
  top: -.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: .1rem;
  height: .7rem;
  background-color: $bl-items;
  transition: background-color .5s;
}
.buttonClock__start p,
.buttonClock__reset>p{
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.2rem;
  color: $bl-items;
  transition: color .5s;
}
.buttonClock__start:hover.buttonClock__start>div:nth-child(1),
.buttonClock__start:hover.buttonClock__start>div:nth-child(4)
{
  border: .15rem solid $bl-items-hover;
}
.buttonClock__start:hover.buttonClock__start>div:nth-child(2),
.buttonClock__start:hover.buttonClock__start>div:nth-child(3),
.buttonClock__start:hover.buttonClock__start>div:nth-child(4)::before
{
  background-color: $bl-items-hover;
}
.buttonClock__start:hover p{
  color: $bl-items-hover;
}
.buttonClock__start>div:nth-child(2).active{
  animation: putButton .6s linear forwards; //                                !!! here is style for setting of start's timer
}


.buttonClock__reset{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
}
.buttonClock__reset>span{
  position: absolute;
  width: 2.7rem;
  height: 2.7rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  font-size: 2.7rem;
  color: $bl-items;
}
.buttonClock__reset:hover span,
.buttonClock__reset:hover p
{
  color: $bl-items-hover;
}



  @for $i from 1 through 100{
    .BlueCircle__metrix>*:nth-child(#{$i}) {
      @if 0 == $i % 10 {
        @include line2(calc(3.6deg * #{$i} - 90deg), 1.2rem)
      }@else{
        @include line2(calc(3.6deg * #{$i} - 90deg), 0.6rem)
      }
      
    }
  }

  @keyframes putButton{
  0%{
    transform: translateY(0rem)
  }
  50%{
    transform: translateY(.4rem)
  }
  100%{
    transform: translateY(0rem)
  }
}
  @keyframes putButton2{
  0%{
    transform: translateY(0rem)
  }
  50%{
    transform: translateY(.4rem)
  }
  100%{
    transform: translateY(0rem)
  }
}

