// variables
$bl-items-hover: rgb(15, 50, 74);
$bl-items: white;
$orangeCollor: rgb(209, 189, 5);
// $rec-bg: linear-gradient(180deg, rgba(141,75,68,1) 0%, rgba(236,129,117,1) 100%);
$heightHeader: 70px;

$width-rectangle-elem: 2.5rem; // !!! it sets sizes of timeElem
$height-rectangle-elem: 5.5rem; // !!! it sets sizes of timeElem

$falling-code-two: rgb(77, 212, 224);

$backgroundFonClock: linear-gradient(180deg, rgb(176, 175, 175), rgb(72, 71, 71));
%backgroundFonClock{
  background: -webkit-linear-gradient(180deg, rgb(53, 96, 225), rgb(97, 155, 210));
  background: -moz-linear-gradient(180deg, rgb(53, 96, 225), rgb(97, 155, 210));
  background: linear-gradient(180deg, rgb(176, 175, 175), rgb(72, 71, 71));
}
%backgroundFonDial{
  box-shadow: rgba(50, 50, 93, 0.255) 0px 30px 30px -12px inset, rgba(0, 0, 0, 0.567) 0px 18px 36px -18px inset;
}


section{
}

.App{
  min-height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}
main{
  padding: 0 .5rem;
  margin-top: $heightHeader;
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  
}


footer{
  position: fixed;
  width: 100%;
  height: 7rem;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 333;
}


// tegs h
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2.2rem;
}
h3{
  font-size: 1.9rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1.3rem;
}
.ibg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}