
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $heightHeader;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
.header {
  border-bottom: 1px solid black;
  z-index: 23;
  background-color: rgba(141, 140, 140, 0.404);
  &__logo{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__logo-picture{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: beige;
    border-radius: 50%;
    overflow: hidden;
  }
  &__nav {
  }
  &__nav ul{
    display: flex;
    gap: 1rem;
  }
  &__nav ul a{
    font-size: 1.5rem;
  }
  &__container-contacts{
    font-family: none;
    font-size: 20px;
    display: flex;
    gap: 2rem
  }
}
@media(max-width:550px){
  .header{
    &__container-contacts{
      display: flex;
      flex-direction: column;
      gap: 1rem
    }
  }
}




