
.header {

  border-bottom: 1px solid black;
  z-index: 23;
}

.header__logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__logo-picture{
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: beige;
    border-radius: 50%;
    overflow: hidden;
  }
.header__nav {
  }
.header__nav ul{
  display: flex;
  gap: 1rem;
}
.header__nav ul a{
  font-size: 1.5rem;
}
.header__nav ul a.active{
  color: rgb(213, 35, 35);
}