.rectangle{
  background: linear-gradient(180deg, rgb(100, 114, 10) 0%, rgb(140, 132, 131)100%);
}


.rectangle__clock{
  width: 30rem;
  box-shadow: 0 0 12px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(0deg, rgba(93,50,45,1) 0%, rgba(204,115,105,1) 100%);
  padding: 2rem 0;
  border-radius: 3rem;
}
.rectangle__buttons{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 1rem 0;
}

.rectangle__share{
  position: relative;
  width: 8rem;
  height: 5rem;
  perspective: 30rem;
  cursor: pointer;
}

.rectangle__background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border: 1px solid wheat;
  background-color: rgb(80, 76, 76);
  z-index: 1;
}
// .rectangle__resetButton{
//   position: absolute;
//   top: 3%;
//   left: 3%;
//   width: 95%;
//   height: 95%;
//   background-color: rgb(195, 195, 7);
//   z-index: 2;
//   border: 1px solid black;
//   transition: .25s;
// }
// .rectangle__resetButton:active{
//   transform: scale(.96);
// }
.rectangle__perspectiveButton{
  perspective: 30rem;
  position: absolute;
  top: 3%;
  left: 1.3%;
  width: 97%;
  height: 95%;
  transform-style: preserve-3d;
  transform: rotateY(-22deg) translateZ(.5rem);  // !! regulator button 22deg
  z-index: 2;
  transition: .5s;
}
.rectangle__button{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(195, 195, 7);

  &.front{
   background: linear-gradient(90deg, rgba(104,110,0,1) 0%, rgba(250,247,6,1) 100%); // - 30deg
  //  background: linear-gradient(270deg, rgba(104,110,0,1) 0%, rgba(250,247,6,1) 100%); // 30deg 
  & .on{
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    fill: rgb(196, 3, 3);
  }
  & .off{
    position: absolute;
    top: 50%;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    fill:rgb(24, 20, 20);
  }
  & .resetBtn{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(24, 20, 20);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  }
  &.left{
    width: 2rem;
    left: -2rem;
    top: 0;
    transform-origin: right;
    transform: rotateY(-90deg) ;
    background: rgb(146, 146, 5);

  }
  &.right{
    width: 2rem;
    right: -2rem;
    transform-origin: left;
    transform: rotateY(90deg);
    background: rgb(146, 146, 5);
  }
}
.rectangle__perspectiveButton.active{
  transform: rotateY(22deg) translateZ(.5rem);
}
.rectangle__perspectiveButton.active .rectangle__button.front{
   background: linear-gradient(270deg, rgba(104,110,0,1) 0%, rgba(250,247,6,1) 100%); // 30deg 
  //  background: linear-gradient(90deg, rgba(104,110,0,1) 0%, rgba(250,247,6,1) 100%); // - 30deg
}
.rectangle__perspectiveButton.reset:active{
  transition: .15s;
  transform: rotateY(22deg) translateZ(.5rem);
}
.rectangle__perspectiveButton.reset .rectangle__button.front:active{
   background: linear-gradient(270deg, rgba(104,110,0,1) 0%, rgba(250,247,6,1) 100%); // 30deg 
}


.rectangle__display{
  display: flex;
  gap: 1rem;  
}
.rectangle__time{
  display: flex;
  gap: .5rem;
}
.timeElem{
  position: relative;
  height: 20.5rem;
  width: $width-rectangle-elem; 
}
.timeElem__container{

  position: absolute;
  top: 1rem;
  left: 0;
  height: 10rem;
  width: 100%;
}
.timeElem__regulator{
  position: absolute;
  top: 0rem;
  left: 30%;
  transform: translateX(-50%);
  width: .8rem;
  height: 100%;
  border: 1px solid black;
  border-radius: .5rem;
}
.timeElem__slider{
  position: absolute;
  bottom: 0%;        // !!! controll height slider
  left: -0.9rem;
  width: 2rem;
  height: 2rem;
  fill: yellow;
  transform: translateY(40%) rotate(-30deg);
  transition: .35s;
}
.timeElem__measure{
   position: absolute;
   top: -.5px;
   left: 1.3rem;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}
.timeElem__measure span{
  width: 100%;
  height: 1px;
  background: black;

}


.rectangle__timeElem{
  position: absolute;
  left: 0;
  bottom: 0rem;
  height: $height-rectangle-elem;  
  width: 100%;   
  perspective: 30rem;
  transform-style: preserve-3d;
  &>*:first-child{
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0px;
    z-index: 4;
  }
  &>*:nth-child(2){
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50%;
    transform-origin: bottom;
    transform: rotateX(-00deg); // !! cotation controller system
    transform-style: preserve-3d;
  }
  &>*:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
  }
}
.rectangle__timeElemRotate{
  &>img:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateZ(1.5px);
  }
  &>:nth-child(2){
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    display: block;
    transform-origin: top;
    transform: rotateX(-90deg)  translateY(-1.5px);
    z-index: 3;
  }
  &>img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg)  rotateZ(180deg)  translateZ(1.5px);
    z-index: 1;
    
  }
}
