
@mixin line($j){
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  height: .1rem;
  background-color: black;
  transform: translateX(0%) translateY(-50%) rotate($j);
  z-index: 2;
}

.roundCircle{
}
.roundCircle__body{
  padding: 3rem ;
  max-width: 70rem;
  height: inherit;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  align-items: stretch;
  justify-content: center;
  position: relative;
}
.roundCircle__clock{
   position: relative;
   border-radius: 50%;
   width: 25rem;
   height: 25rem;
   background-color: rgb(255, 255, 255);

}
.roundCircle__outerArrow{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.roundCircle__arrow{
  position: absolute;
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  transform: translateY(.95rem) translateX(1.35rem) rotate(15deg);
}
.roundCircle__time{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 93%;
  height: 93%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roundCircle__display{
  font-size: 4rem;
  width: 17.7rem;
}
.roundCircle__littleClock{
  position: absolute;
  top: 70%;
  left: 40%;
  width: 4.5rem;
  height: 4.5rem;
  border: 0.2rem solid black;
  border-radius: 50%;
}
.roundCircle__littleArrow{
  position: absolute;
  height: 1.1rem;
  width: 0.2rem;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;

}
.roundCircle__littleRound{
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.tableManagment{
  width: 25rem;
  position: relative;
}
.tableManagment>*:first-child{
  margin-bottom: 1rem;
}
.tableManagment__container{
  height: 21.5rem;
  overflow-y: scroll;
  // background-color: aqua;
}


.tableManagment__loop{

  max-width: 8;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.tableManagment__loop>*{
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.474);
    bottom: 0;
    left: 0;
  }
}
.tableManagment__loop>*:first-child{
  &::after{
    background-color:  rgba(255, 255, 255, 0);
  }
}

.tableManagment__message{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: .1px;
    background-color: black;
    bottom: 0;
    left: 0;
  }
}
.tableManagment__message p{
  font-size: 1.2rem;
}
.tableManagment__message p span {
  color: red;
  font-size: 1.3rem;
}
.tableManagment__message div>:first-child{
  margin-bottom: 0.7rem;
}
.tableManagment__message div>* span{
  letter-spacing: .2rem;
  font-size: 1.2rem;
}
.tableManagment__message>p:nth-child(2){
  font-size: 2rem;
}
.tableManagment__leader{
  font-size: 2rem;
  color: rgb(92, 173, 173);
}



.tableManagment__buttons{
  // position: absolute;
  // top: 0;
  // left: 0;
  // height: auto;
  width: 100%;

  border: .1rem solid black;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  &>button:nth-child(1){
    flex: 0 0 12.125rem; 
    border-right: 1px solid black;
    border-top-left-radius: 1.3rem ;
    border-bottom-left-radius: 1.3rem ;
  }
  &>button:nth-child(2){
    flex: 0 0 12.125rem; 
    border-left: 1px solid rgb(0, 0, 0);
    border-top-right-radius: 1.3rem ;
    border-bottom-right-radius: 1.3rem ;
  }
  &_one{
    &>button:first-child{
      flex: 0 0 100%;
      border: none;
      border-radius: 1.3rem;
    }
  }
}
.tableManagment__button{
  max-width: 100%;
  text-align: center;
  line-height: 3rem;
  height: 3rem;
  font-size: 1.3rem;
  // transition: .5s;

  cursor: pointer;
  &:active{
    transform: scale(0.95);
    transition: 0s;
  }
}
.tableManagment__button_loop{
  background-color: rgb(77, 232, 188);
}
.tableManagment__button_stop{
  background-color: rgb(180, 201, 138);
}
.tableManagment__button_start{
  background-color: rgb(188, 176, 139);
}
.tableManagment__button_reset{
  background-color: rgb(198, 155, 155);
}

  @for $i from 1 through 30{
    .roundCircle__span:nth-child(#{$i}) {
      @include line(calc(6deg * #{$i}))
    }
  }

  
@media(max-width:875px){
  html{font-size: 80%}
}
@media(max-width:810px){
  html{font-size: 70%}
}
@media(max-width:710px){
  html{font-size: 60%}
}
@media(max-width:615px){
  .roundCircle__body{
    display: block;
  }
  .roundCircle__body>*:first-child{
    margin-bottom: 4rem;
  }
}
@media(max-width:335px){
  html{font-size: 50%}
}