
@mixin line($j){
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  height: .2rem;
  background-color: rgb(15, 50, 74);
  transform: translateX(0%) translateY(-50%) rotate($j);
  z-index: 2;
}

.roundCircle{
}
.roundCircle__body{
  border-radius: 1rem;
  box-shadow: 0 0 12px 2px black;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  background: $backgroundFonClock;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.roundCircle__clock{
  position: relative;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}
.roundCircle__outerArrow{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.roundCircle__arrow{
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(.1rem) translateX(0.35rem) rotate(15deg);
}
.roundCircle__time{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 93%;
  height: 93%;
  border-radius: 50%;
  background-color: rgb(139, 138, 138);

@extend %backgroundFonDial;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roundCircle__display{
  font-size: 2rem;
  width: 8.5rem;
  color: rgb(15, 50, 74);
}
.roundCircle__littleClock{
  position: absolute;
  top: 70%;
  left: 38%;
  width: 3rem;
  height: 3rem;
  border: 0.15rem solid rgb(15, 50, 74);
  border-radius: 50%;
}
.roundCircle__littleArrow{
  position: absolute;
  height: .5rem;
  width: 0.1rem;
  top: .6rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(15, 50, 74);

}
.roundCircle__littleRound{
  position: absolute;
  width: .7rem;
  height: .7rem;
  border: 0.1rem solid  rgb(15, 50, 74);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}
.tableManagment{
  width: 14rem;
  position: relative;
}
.tableManagment>*:first-child{
  margin-bottom: 1rem;
}
.tableManagment__container{
  height: 13rem;
  overflow-y: scroll;
  margin-top: 3rem;
  padding: .5rem;
  border-radius: 1rem;
  box-shadow: 0 0 12px 2px black;
  &::-webkit-scrollbar {
  width: 0;
}
}


.tableManagment__loop{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tableManagment__loop>*{
}

.tableManagment__message{
  position: relative;
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(133, 128, 128);
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
}


.tableManagment__message-elem{
  color: rgb(255, 255, 255);
  &--one{
    font-size: 1rem;
    color: $orangeCollor;
    
  }
  &--two{
    font-size: 1rem;
  }


  &--four{
    font-size: 0.9rem;
    color:rgb(15, 50, 74);
  }
}

.tableManagment__leader{
  font-size: 1.4rem;
  color: $orangeCollor;
}



.tableManagment__buttons{
  width: 100%;
  border: .1rem solid black;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  &>button:nth-child(1){
    flex: 0 0 50%; 
    border-right: 1px solid black;
    border-top-left-radius: 1.3rem ;
    border-bottom-left-radius: 1.3rem ;
  }
  &>button:nth-child(2){
    flex: 0 0 50%; 
    border-left: 1px solid rgb(0, 0, 0);
    border-top-right-radius: 1.3rem ;
    border-bottom-right-radius: 1.3rem ;
  }
  &_one{
    &>button:first-child{
      flex: 0 0 100%;
      border: none;
      border-radius: 1.3rem;
    }
  }
}
.tableManagment__button{
  max-width: 100%;
  text-align: center;
  line-height: 2.5rem;
  height: 2.5rem;
  font-size: 1.3rem;

  cursor: pointer;
  &:active{
    transform: scale(0.95);
    transition: 0s;
  }
}
.tableManagment__button_loop{
  background-color: rgb(111, 111, 111);
}
.tableManagment__button_stop{
  background-color: rgb(196, 196, 196);
}
.tableManagment__button_start{
  background-color: rgb(204, 204, 203);
}
.tableManagment__button_reset{
  background-color: rgb(233, 175, 15);
}

  @for $i from 1 through 30{
    .roundCircle__span:nth-child(#{$i}) {
      @include line(calc(6deg * #{$i}))
    }
  }

  // 233 175 15
