.wrapper{
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  box-shadow: inset 0 0 1rem .01rem rgb(77, 212, 224) ;
  border-radius: 1rem;
  background-color: #081b29;
}
.containerBig{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container{
  display: flex;
  gap: 1rem;
  justify-content: center;
}


@media(max-width:768px){
  .wrapper{
    width: 100%;
    box-shadow: none;
    border-top: 1px solid rgb(77, 212, 224) ;
    border-radius: 0;
    padding: 1rem;
    gap: .5rem;
  }
}

@media(max-width:768px){
  .wrapper{
  }
  .containerBig{
    display: flex;
    flex-direction: row;
}
}