.wrapper{
  width: 100%;
  height: 100%;  
}
.buttonBackConteiner{
  margin-top: 2rem;
}
.clocksContainer{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.clocks{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.littleContainer{
  display: flex;
  gap: 4rem;
  align-items: center;
}


@media(max-width: 996px){
  .littleContainer{
    
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
}
@media(max-width: 665px){
  .clocks{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
}